
button{
    width: 5.25em;
    height: 3.10em;
    border:none;
    padding:0;
    margin:0;
    background-color:hsl(228, 33%, 97%);
}
div{ 
    padding: 0.9375em 0;
}



/*specificity  0,1,0   */
.desktop{
    display:none;
}
.mobile{
    display:flex;
  
}
@media (min-width:49.0625em){  /*785px*/
    .desktop{
        display:flex;
    }
    .mobile{
       display:none;
       
    }
}

.grid-container{
   display:grid;
   grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
   grid-auto-rows: 1fr;
}
/*for the placement of the bottom textarea/button of the currentuser from here*/
.textgrid{
   display:grid;
   grid-template-areas: "textarea textarea"
    "img button"
    ;
    grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr; 
   @media screen and(min-width: 48em){
        display:flex;
   }
}
.grid-item{
   max-width: 4.0625em;
   justify-self:end;
}
.area-img{
  grid-area:img;
}
.area-text{
   grid-area: textarea;
}
.area-button{
   grid-area: button;
}
/*till here*/
.ms-3{
    margin-left: 3em;
}
.display-flex{
    display:flex;
}
.flex-column{
    flex-direction:column;
}
.align-items-center{
    align-items:center;
}
.justify-content-space-between{
    justify-content: space-between;
}
.hidden{
  display:none;
}
.show{
  display:block;
}
.darker-white-background{
    background-color:hsl(223, 19%, 93%);
}
.off-white-background{
    background-color: hsl(228, 33%, 97%);
}
.addMargin{
   max-width:98%;
   position:relative;
   padding:0.02em;
   margin-left: 4em;
   @media screen and(min-width:48em){
       margin-left: 10em;
   }
}
.margin-desktop{
    margin: auto 0;
}
.w-100{
   width: 100%;
}
.you{
    background-color: hsl(216, 100%, 50%);
    width: 50px;
    border-radius:0.9375em;
    margin-right: 0.9375em;
    text-align:center;
}
.white-font{
    color: hsl(0, 0%, 100%);
}
.js-score{
    border-radius: 0.8em;
    margin-left: 1em;
}
.firstword{
     color: hsl(216, 100%, 50%);
     font-weight: 600;
}
.me-1{
    margin-right:1em;
}


/*taken from: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html*/
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 0.0625em;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 0.0625em;
}