

*,
::before,
::after {
  box-sizing: border-box;
}

html{
  background-color:hsl(223, 19%, 93%);
}

body {
     font-size: 100%; 
     font-weight: 400;
}

h1{
   font-size: 1.2em;
}
br{
    line-height: 0.6em;
}


/*specificity    */

.align-items-flex-start{
     align-items: flex-start;
}
.justify-content-flex-end{
    justify-content:flex-end;
}
.justify-content-flex-start{
    justify-content:flex-start;
}
.justify-content-space-around{
    justify-content: space-around;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-center{
    justify-content: center;
}
.p2{
   padding:2em;
}
.me-3{
    margin-right:3em;
}
.ms-3{
    margin-left: 3em;
}

.mx-3{
    margin: 0.1875em auto;
}
.order{
    order:1;
}
.move-right{
  position:relative;
  margin-left: auto;
  margin-right:0;
}

.align-items-sm-flex-start{
    @media (max-width: 49.0625em){
        align-items:flex-start;
    }
}
.move-left{
  position:relative;
  right:0.625em;
}
.move-down{
    position:relative;
    top: 1.25em;
}
.move-50px-right{
  position:relative;
  left:3.125em;
}
.smaller-width{
  width:48em;
}
.height-5{
    height: 5em;
}

.border{
   border: 0.0625em solid gray;
}

.border-radius-1{
   border-radius: 1em;
}
.text-uppercase{
    text-transform:uppercase;
}

/*buttons*/
.js-yes{
    background-color: hsl(0, 1%, 57%);
    width:8em;
}
.js-cancel{
    background-color: hsl(0, 80%, 50%);
    width: 8em;
}

.js-add-comment{
    background-color: hsl(216, 100%, 50%);
    width: 7.25em;
    margin-left:1em;
    border-radius:0.6em;
}

/*font color change*/
.js-delete,.js-edit,.reply{
     color: hsl(216, 100%, 50%);
     font-size: 1.2em;
     font-weight:600;
}


main{
  margin:0 auto;
  margin-top: 1.25em;
  
  dialog{
    background-color:hsl(0, 0%, 100%);
    
    /*speficify 0,0,2*/
    &::backdrop {
       background: rgb(0 0 10% / 25%);
    }
  }
 
  @media screen and(min-width:48em){
     margin-top: 100px;
     width: 90em;                              
  }
  
}
textarea:focus{
     border: 2px solid grey;
}

#bottom-footer {
  .attribution {
    font-size: 0.5em;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}


