

*,
::before,
::after {
  box-sizing: border-box;
}
html{
  background-color:hsl(223, 19%, 93%);
}
body {
     font-size: 100%; 
     font-weight: 400;
}
div{ 
    padding: 0.9375em 0;
}
h1{
   font-size: 1.2em;
}

button{
    width: 5.25em;
    height: 3.10em;
    border:none;
    padding:0;
    margin:0;
    background-color:hsl(228, 33%, 97%);
}


br{
    line-height: 0.6em;
}

/*specificity  0,1,0   */
.desktop{
    display:none;
}
.mobile{
    display:flex;
  
}
@media screen and(min-width:48em){
    .desktop{
        display:flex;
    }
    .mobile{
       display:none;
       
    }
}
.grid-container{
   display:grid;
   grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
   grid-auto-rows: 1fr;
}
/*for the placement of the bottom textarea/button of the currentuser from here*/
.textgrid{
   display:grid;
   grid-template-areas: "textarea textarea"
    "img button"
    ;
    grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr; 
   @media screen and(min-width: 48em){
        display:flex;
   }
}
.grid-item{
   max-width: 4.0625em;
   justify-self:end;
}
.area-img{
  grid-area:img;
}
.area-text{
   grid-area: textarea;
}
.area-button{
   grid-area: button;
}
/*till here. End;*/


.p2{
   padding:2em;
}
.display-flex{
    display:flex;
}
.flex-column{
    flex-direction:column;
}
.me-1{
    margin-right:1em;
}
.me-3{
    margin-right:3em;
}
.ms-3{
    margin-left: 3em;
}
.mx-3{
    margin: 0.1875em auto;
}
.order{
    order:1;
}
.align-items-center{
    align-items:center;
}
.justify-content-space-around{
    justify-content: space-around;
}
.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-flex-end{
    justify-content:flex-end;
}
.justify-content-flex-start{
    justify-content:flex-start;
}
.justify-content-center{
    justify-content: center;
}
.move-right{
  position:relative;
  margin-left: auto;
  margin-right:0;
}
.move-left{
  position:relative;
  right:0.625em;
}
.move-down{
    position:relative;
    top: 1.25em;
}
.firstword{
     color: hsl(216, 100%, 50%);
     font-weight: 600;
}
.move-50px-right{
  position:relative;
  left:3.125em;
}
.smaller-width{
  width:48em;
}
.hidden{
  display:none;
}
.show{
  display:block;
}
.border{
   border: 0.0625em solid gray;
}
.darker-white-background{
    background-color:hsl(223, 19%, 93%);
}
.off-white-background{
    background-color: hsl(228, 33%, 97%);
}
.addMargin{
   max-width:98%;
   position:relative;
   padding:0.02em;
   margin-left: 4em;
   @media screen and(min-width:48em){
       margin-left: 10em;
   }
}
.w-100{
   width: 100%;
}
.border-radius-1{
   border-radius: 1em;
}
.text-uppercase{
    text-transform:uppercase;
}
.you{
    background-color: hsl(216, 100%, 50%);
    width: 50px;
    border-radius:0.9375em;
    margin-right: 0.9375em;
    text-align:center;
}
/*buttons*/
.js-yes{
    background-color: hsl(0, 1%, 57%);
    width:8em;
}
.js-cancel{
    background-color: hsl(0, 80%, 50%);
    width: 8em;
}
.white-font{
    color: hsl(0, 0%, 100%);
}
.js-score{
    border-radius: 0.8em;
    margin-left: 1em;
}
.js-add-comment{
    background-color: hsl(216, 100%, 50%);
    width: 7.25em;
    margin-left:1em;
    border-radius:0.6em;
}

/*font color change*/
.js-delete,.js-edit,.reply{
     color: hsl(216, 100%, 50%);
     font-size: 1.2em;
     font-weight:600;
}


#main{
  margin:0 auto;
  margin-top: 1.25em;
  
  dialog{
    background-color:hsl(0, 0%, 100%);
    
    /*speficify 0,0,2*/
    &::backdrop {
       background: rgb(0 0 10% / 25%);
    }
  }
 
  @media screen and(min-width:48em){
     margin-top: 100px;
     width: 90em;                              
  }
  
}
textarea:focus{
     border: 2px solid grey;
}

#bottom-footer {
  .attribution {
    font-size: 0.5em;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}



/*taken from: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html*/
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 0.0625em;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 0.0625em;
}